<h1>About Me</h1>
<h4>"It's a good thing to be strange! Normalness leads to sadness." -Phil Lester</h4>

<p>Social Media Addict | 
Writer | 
Certified Lead in School's Stagecraft | 
Yearbook Staff | 
Trained in Level One Back-End Development | 
Cross Country Runner | 
Pretty Awesome Human</p>
